# Visual Studio cache/options
.vs/
bin/
obj/

appsettings.Development.json
appsettings.*.local.json
*/appsettings.Development.json
**/appsettings.Development.json


/src/GustosApp.API/secrets/


# Resultados de tests y cobertura
**/TestResults/
**/coveragereport/